In [1]:
import pandas as pd
import numpy as np
import time
import re
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
%matplotlib inline

In [2]:
Employees_Data = pd.read_csv('employees_dataset.csv',delimiter=',')

In [3]:
Employees_Data.describe()

,degree,education,skills,working_experience,position
count,72,72,72,72,72
unique,4,45,72,68,3
top,master,shanghai jiao tong university,software engineering;project management,emc,dev
freq,48,8,1,4,45

In [4]:
Employees_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 5 columns):
degree                72 non-null object
education             72 non-null object
skills                72 non-null object
working_experience    72 non-null object
position              72 non-null object
dtypes: object(5)
memory usage: 2.9+ KB

In [5]:
Employees_Data.isnull().any()

degree                False
education             False
skills                False
working_experience    False
position              False
dtype: bool

In [6]:
Employees_Data.columns

Index(['degree', 'education', 'skills', 'working_experience', 'position'], dtype='object')

In [7]:
Employees_Data.isnull().any()

degree                False
education             False
skills                False
working_experience    False
position              False
dtype: bool

In [8]:
Employees_Data.columns

Index(['degree', 'education', 'skills', 'working_experience', 'position'], dtype='object')

In [9]:
Employees_Data.insert(5,'enrolled',"Yes")
Employees_Data.insert(6,'degree_clean',"")

In [10]:
DegreeSet = set()
for value in Employees_Data["degree"].values:
    DegreeSet.add(value)
DegreeSet

{'bachelor', 'm.eng', 'master', 'phd'}

In [11]:
Employees_Data.columns

Index(['degree', 'education', 'skills', 'working_experience', 'position',
       'enrolled', 'degree_clean'],
      dtype='object')

In [12]:
Employees_Data["degree"].value_counts()

master      48
bachelor    21
phd          2
m.eng        1
Name: degree, dtype: int64

In [13]:
Employees_Data["degree_clean"]=np.where(Employees_Data["degree"]=="bachelor",1,
                                   np.where(Employees_Data["degree"]=="master",2,
                                            np.where(Employees_Data["degree"]=="phd",3,4)
                                            )
                                  )

In [14]:
Employees_Data["degree_clean"].value_counts()

2    48
1    21
3     2
4     1
Name: degree_clean, dtype: int64

In [15]:
Employees_Data["education"].value_counts()

shanghai jiao tong university                                             8
nanjing university                                                        6
tongji university                                                         4
beijing university of post and telecommunications                         4
beihang university                                                        3
harbin institute of technology                                            3
wuhan university                                                          3
shanghai university                                                       2
fudan university                                                          2
xidian university                                                         2
the university of hong kong                                               1
renmin university of china                                                1
institute of computing technology  chinese academy of sciences            1
china academy of launch vehicle technology                                1
fuyang normal college                                                     1
jiangsu university of science and technology                              1
nanjing university of posts and telecommunications                        1
east china normal university                                              1
beijing institute of technology                                           1
zhejiang university                                                       1
university of essex                                                       1
southeast university                                                      1
chengdu institute of neu                                                  1
xi'dian university                                                        1
university for science and technology of shanghai\t\tcomputer science     1
xiamen university                                                         1
graduate university of chinese academy of sciences                        1
northwestern polytechnic university                                       1
the university of manchester                                              1
yantai university                                                         1
chinese academy of sciences                                               1
nanchang university                                                       1
santa clara university                                                    1
university of shanghai for science and technology                         1
huazhong university of science and technology                             1
institute for technology and management  hyderabad                        1
sun yat-sen university                                                    1
dalian university of technology                                           1
nanjing university of science and technology                              1
inner mongolia university                                                 1
university of california  berkeley - walter a. haas school of business    1
southwest china normal university                                         1
tsinghua university                                                       1
southwest jiaotong university                                             1
wuhan university of science and technology                                1
Name: education, dtype: int64

In [31]:
def education_clean(d):
    if "university" and "institute " in d :
        return 4
    elif "university" and "academy" in d:
        return 3
    elif "university" in d:
        return 2
    else:
        return 1  
    
Employees_Data["education_clean"]=Employees_Data["education"].apply(education_clean)

In [32]:
Employees_Data[["education_clean","education"]].values

array([[2, 'fudan university'],
       [2, 'inner mongolia university'],
       [2, 'shanghai university'],
       [2, 'shanghai jiao tong university'],
       [2, 'beijing university of post and telecommunications'],
       [2, 'dalian university of technology'],
       [2, 'beihang university'],
       [2,
        'university of california  berkeley - walter a. haas school of business'],
       [2, 'nanjing university'],
       [4, 'beijing institute of technology'],
       [2, 'xiamen university'],
       [2, 'yantai university'],
       [2, 'nanchang university'],
       [2, 'tongji university'],
       [2, 'wuhan university'],
       [2, 'wuhan university'],
       [2, 'beijing university of post and telecommunications'],
       [2, "xi'dian university"],
       [2, 'tongji university'],
       [2, 'zhejiang university'],
       [2, 'xidian university'],
       [3, 'graduate university of chinese academy of sciences'],
       [2, 'renmin university of china'],
       [2, 'nanjing university'],
       [2, 'nanjing university'],
       [2, 'tsinghua university'],
       [2, 'nanjing university'],
       [2, 'east china normal university'],
       [2, 'shanghai jiao tong university'],
       [2, 'jiangsu university of science and technology'],
       [2, 'tongji university'],
       [2, 'nanjing university'],
       [3, 'china academy of launch vehicle technology'],
       [2, 'wuhan university of science and technology'],
       [2, 'shanghai jiao tong university'],
       [2, 'nanjing university of science and technology'],
       [2, 'beihang university'],
       [2, 'shanghai jiao tong university'],
       [2, 'beijing university of post and telecommunications'],
       [3, 'chinese academy of sciences'],
       [2, 'shanghai jiao tong university'],
       [2, 'shanghai jiao tong university'],
       [2, 'sun yat-sen university'],
       [2, 'beijing university of post and telecommunications'],
       [2, 'northwestern polytechnic university'],
       [2, 'nanjing university'],
       [2, 'southwest jiaotong university'],
       [2, 'university of essex'],
       [1, 'fuyang normal college'],
       [2, 'university of shanghai for science and technology'],
       [2, 'the university of hong kong'],
       [2, 'tongji university'],
       [2, 'shanghai jiao tong university'],
       [2, 'santa clara university'],
       [2, 'fudan university'],
       [4,
        'institute of computing technology  chinese academy of sciences'],
       [2,
        'university for science and technology of shanghai\t\tcomputer science'],
       [2, 'southeast university'],
       [2, 'the university of manchester'],
       [2, 'wuhan university'],
       [2, 'nanjing university of posts and telecommunications'],
       [2, 'xidian university'],
       [2, 'southwest china normal university'],
       [2, 'shanghai jiao tong university'],
       [4, 'harbin institute of technology'],
       [4, 'institute for technology and management  hyderabad'],
       [4, 'harbin institute of technology'],
       [4, 'chengdu institute of neu'],
       [2, 'huazhong university of science and technology'],
       [4, 'harbin institute of technology'],
       [2, 'shanghai university'],
       [2, 'beihang university']], dtype=object)

In [18]:
Employees_Data["working_experience"].value_counts()

emc                                                                                       4
ibm;emc                                                                                   2
alcatel-lucent;honeywell;transoft                                                         1
sun;lenovo;symantec                                                                       1
successfactors;nurun;admaster digital marketing                                           1
hp;dell;emc                                                                               1
autodesk;emc                                                                              1
iomega;retrospect  inc.;vmware                                                            1
tektronix                                                                                 1
amazon;sun microsystems;microsoft                                                         1
sun microsystems;amd;dell                                                                 1
china potevio;ibm;wind river                                                              1
huawei symantec technologies;alcatel-lucent                                               1
symantec;ibm                                                                              1
ibm                                                                                       1
sinobot inc.;alcatel lucent shanghai bell;avocent                                         1
cienet technologies;inventec;pactera                                                      1
ibm;emc;alcatel                                                                           1
industrial and commercial bank of china;hewlett-packard                                   1
cienet technologies;thomson reuters                                                       1
ibm china;brightcove inc.                                                                 1
sybase;bmi asia (acquired by convergys)                                                   1
radisys corporation;3up systems;emc                                                       1
intel;agilent/verigy                                                                      1
odg  london  uk;ig index  london  uk;emc  shanghai  china                                 1
hp;emc                                                                                    1
telenav;newsoft technology                                                                1
alcatel-lucent;shanghai huatang network security                                          1
alcatel-lucent;cisco systems                                                              1
yahoo!;microsoft;splashtop inc (formerly devicevm)                                        1
                                                                                         ..
oval technologies;microsoft                                                               1
newegg.com;symbio;tieto                                                                   1
sybase;csts                                                                               1
emc information technology r&d co.  ltd.;ibm                                              1
teradata                                                                                  1
intel;emc                                                                                 1
falconstor software;symantec;bolang software development ltd. (closed)                    1
yahoo;mywire;augmentum                                                                    1
microsoft global technical support center;symantec;motorola labs china research center    1
bank of china;sap;emc                                                                     1
sun microsystems;emc                                                                      1
huawei;intel;emc                                                                          1
innofidei;symantec;intel                                                                  1
konami;emc;lsi logic                                                                      1
freelancer;trend micro;red hat                                                            1
huawei technologies;alcatel-lucent;bell labs lucent technologies                          1
intel corporation;marvell semiconductor;emc                                               1
starcite;emc;ebay                                                                         1
satyam computer services limited;symantec;ibm                                             1
sybase;ibm                                                                                1
tudou.com;ebaotech corporation                                                            1
cisco system;vli communication;dextrys                                                    1
ericsson;ibm;ebay                                                                         1
plenware oy;nokia;nokia siemens networks                                                  1
north china institute of computing technology;adobe                                       1
sybase;emc                                                                                1
mitac;hewlett-packard                                                                     1
alcatel-lucent;intel corporation;tecom co. ltd                                            1
3leaf systems;hillstone networks  inc.                                                    1
synopsys;alcatel-lucent                                                                   1
Name: working_experience, Length: 68, dtype: int64

In [36]:
Employees_Data["position"].value_counts()

dev        45
manager    19
qa          8
Name: position, dtype: int64

In [38]:
def position_clean(d):
    if d == "dev":
        return 2
    elif d == 'manager':
        return 3
    else:
        return 1
    
Employees_Data["position_clean"]=Employees_Data["position"].apply(position_clean)
Employees_Data["position_clean"].value_counts()

2    45
3    19
1     8
Name: position_clean, dtype: int64

In [39]:
used_features = ["degree_clean","education_clean","skills","working_experience","position_clean"]
Employees_Data[used_features]

,degree_clean,education_clean,skills,working_experience,position_clean
0,2,2,c/c++ stl;c;sql;design patterns;atl com;asp.ne...,bank of china;sap;emc,2
1,1,2,c;design patterns;windows;system modeling;stor...,ca technologies;beijing topsec network securit...,2
2,1,2,c;git;java;python;mongodb;selenium;test automa...,tudou.com;ebaotech corporation,2
3,2,2,c;java;c++;provisioning;unix;clariion;solaris;...,hp;emc,2
4,2,2,c;sip;java;tcp/ip;shell scripting;python;ip;cl...,tektronix,2
5,2,2,c;sip;shell scripting;operating systems;device...,synopsys;alcatel-lucent,2
6,2,2,c++/c;java;sql;python;design patterns;generic ...,emc information technology r&d co. ltd.;ibm,2
7,2,2,cloud applications;web services;big data;cloud...,yahoo;mywire;augmentum,2
8,2,2,customer communication;cloud computing;trouble...,ibm;emc,2
9,2,4,debugging;c;assembly;usb;kernel;device drivers...,innofidei;symantec;intel,2
10,2,2,debugging;c;design patterns;shell scripting;mo...,huawei technologies;alcatel-lucent;bell labs l...,2
11,1,2,debugging;shell scripting;battery;linux kernel...,sunplus;lenovo;freescale,2
12,1,2,emc storage;vsphere;emcisa;tcp/ip;hp storage;s...,cienet technologies;inventec;pactera,2
13,1,2,ios development;shell scripting;concurrent pro...,successfactors;nurun;admaster digital marketing,2
14,1,2,java,starcite;emc;ebay,2
15,2,2,kernel;assembly language;shell scripting;unix;...,alcatel-lucent;intel corporation;tecom co. ltd,2
16,2,2,kernel;debugging;file systems;linux kernel;lin...,tencent;emc;opensuse project,2
17,1,2,linux/unix server/storage perl python web de...,mitac;hewlett-packard,2
18,1,2,nas;san;shell scripting;ip;hyper-v;ibm v7000;l...,ericsson;ibm;ebay,2
19,2,2,nas;storage;tcp/ip;distributed systems;linux k...,alcatel-lucent;falconstor software;emc,2
20,2,2,network security;openstack;cloud computing;sto...,alcatel-lucent;cisco systems,2
21,2,3,paas;disaster recovery;san;proposal writing;te...,sun microsystems;amd;dell,2
22,1,2,perl;linux;java;agile methodologies;sql,teradata,2
23,2,2,pmp;network management applications;middleware...,sybase;ibm,2
24,2,2,programming;visual studio;linux;vmware;xml;jav...,emc,2
25,2,2,server architecture;j2ee;jdbc;design patterns;...,ibm china;brightcove inc.,2
26,2,2,soa;single sign on;vsphere;active directory;xm...,intel;emc,2
27,2,2,software development;c;embedded software;softw...,ibm,2
28,2,2,software development;debugging;c;embedded soft...,radisys corporation;3up systems;emc,2
29,2,2,software development;debugging;soc;software en...,intel;agilent/verigy,2
...,...,...,...,...,...
42,1,2,xml;lucene;java;core java;nosql;cloud foundry;...,telenav;newsoft technology,2
43,2,2,xml;shell scripting;agile methodologies;mysql,sun microsystems;emc,2
44,1,2,xml;software development;c;java;java enterpris...,sinobot inc.;alcatel lucent shanghai bell;avocent,2
45,2,2,agile;enterprise content management;enterprise...,emc,3
46,2,2,leadership;project management;vmware esx;c pro...,mountain view data(acquired by 3leaf in 2008);...,3
47,2,2,change management;incident handling;customer s...,hp;dell;emc,3
48,1,1,change management;software quality assurance;t...,intel corporation;marvell semiconductor;emc,3
49,1,2,agile;cloud computing;software engineering;pro...,konami;emc;lsi logic,3
50,2,2,cloud computing;project management,oval technologies;microsoft,3
51,1,2,leadership;enterprise software;software engine...,sybase;bmi asia (acquired by convergys),3
52,2,2,customer satisfaction;hp-ux;san;project manage...,ibm;emc,3
53,2,2,enterprise software;project management;agile;b...,yahoo!;microsoft;splashtop inc (formerly devic...,3
54,1,2,project management;enterprise software,asus;emc,3
55,3,4,enterprise softare;software engineering;high p...,emc,3
56,1,2,software engineering;project management,cisco system;vli communication;dextrys,3
57,2,2,software engineering;agile;leadership,autodesk;emc,3
58,2,2,enterprise software;agile;software engineering,odg london uk;ig index london uk;emc shan...,3
59,1,2,team building;project management;agile;leaders...,hp;emc;dragonsoft,3
60,2,2,software engineering;agile;team building;softw...,huawei;intel;emc,3
61,2,2,software engineering;enterprise software;agile,sybase;emc,3
62,1,2,project management;agile;software engineering;...,amazon;sun microsystems;microsoft,3
63,2,2,team building;project management;agile;leadership,marvell;s3 graphics;emc,3
64,2,4,release management;test planning;tcp/ip;test a...,china potevio;ibm;wind river,1
65,2,4,shell scripting;memory leak & errors;cluster;t...,satyam computer services limited;symantec;ibm,1
66,1,4,python;test automation;perl;unix;linux;android...,symantec;ibm,1
67,1,4,test management;scrum;python;test cases;testin...,newegg.com;symbio;tieto,1
68,2,2,testing;unix;linux;hbase;xml;java;servlets;jav...,cienet technologies;thomson reuters,1
69,2,4,software quality assurance;solaris;system test...,sun;lenovo;symantec,1
70,2,2,test management;java;qtp;c#;performance testin...,industrial and commercial bank of china;hewlet...,1
71,2,2,xml;flex;java;python;agile;scrum;c++;ant;test ...,north china institute of computing technology;...,1

In [25]:
Employees_Data["enrolled"].value_counts()

Yes    72
Name: enrolled, dtype: int64

In [26]:
X_train,X_test = train_test_split(Employees_Data,test_size=0.1,random_state=int(time.time()))
gnb = GaussianNB()

In [27]:
gnb.fit(X_train[used_features].values, X_train["enrolled"])

ValueError: could not convert string to float: 'pmp;network management applications;middleware;automation framework build;web/webservice;storage management;java/c#/python/installscript'